* {
    box-sizing: border-box;
}

.rodapePrincipal {
    background-image: url(fundo.png);
    background-size: cover;
    background-color: #6278F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.rodapePrincipal div > a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.rodapePrincipal p, p > a {
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 700px) {
    .rodapePrincipal .logo {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .rodapePrincipal {
        flex-direction: column;
    }

    .rodapePrincipal p, p > a {
        font-size: 18px;
    }
}